{
    "api": "0.13",
    "space": "OpenLab",
    "logo": "http://i.imgur.com/4v7PKZm.png",
    "url": "http://openlab-augsburg.de",
    "location": {
        "address": "Elisenstr. 1, 86159 Augsburg, Germany",
        "lon": 10.8867969,
        "lat": 48.3577121
    },
    "contact": {
        "twitter": "@OpenLabAugsburg",
        "phone": "+49 821 600 807 23",
        "irc": "irc://irc.freenode.org/#augsburg",
        "facebook": "https://www.facebook.com/openlab.augsburg",
        "email": "kontakt@openlab-augsburg.de",
        "ml": "alle@lists.openlab-augsburg.de"
    },
    "issue_report_channels": [
        "twitter",
        "email"
    ],
    "state": {
        "open": true
    },
    "projects": [
        "https://github.com/openlab-aux/"
    ],
    "feeds": {
         "calendar": {
             "type": "icalendar",
             "url": "https://openlab-augsburg.de/veranstaltungen/events.ics"
           },
           "blog": {
               "type": "rss",
               "url": "http://openlab-augsburg.de/feed/"
           }
    }
}
